
<div classs="" style="border: 2px solid #DACACF; border-radius: 10px; padding: 20px; background-color: #F0E7E9;">
  <h3>Subscribe for more Ruby, Rails, and Hotwire</h3>
  <p>Short posts, clear explanations, no links</p>
  <form style="font-size: 1.25rem;"
    action="https://buttondown.email/api/emails/embed-subscribe/bhumi"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/bhumi', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Email</label>
    <input type="email" name="email" id="bd-email" />
    <label for="bd-email">First Name</label>
    <input type="text" name="metadata__first_name" id="first_name" />
    <input style="font-size: 1.25rem;" type="submit" value="Subscribe" />
  </form>
</div>